
.stove_part{
    height:70vh;
    position: relative;
    margin-bottom: 10vh;
}
.stove_part .container{
    position: absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.stove_part .container:after{
    content: '';
    width:529px;
    height:40px;
    position: absolute;
    opacity: .4335;
    background: #d8d8d8;
    top:110%;
    left:50%;
    transform:translateX(-50%);
    border-radius:50%;
    filter: blur(10px);
}
.stove_part .container:before{
    content: '';
    width:193px;
    height:40px;
    position: absolute;
    opacity: .5;
    background: #d8d8d8;
    top:110%;
    left:50%;
    transform:translateX(-50%);
    border-radius:50%;
    filter: blur(10px);
}
@media (max-width:720px)
{
    .stove_part .container:after{
        width:400px;
    }
}
.stove_part .container img{
    width:450px;
    height: auto;
}

/* box_part */

.box_part{
    height:720px;
    border-radius:none;
}
@media (max-width:720px)
{
    .box_part{
        height:520px;
    }
}
.box_part .container{
    background:#b85858;
    padding:100px;
    border-radius:10px;
    text-align: center;
}
.box_part .container .box_part_text{
    width:70%;
    margin:auto;
}
@media(max-width:576px)
{  
    .box_part .container{
        padding:30px 0;
        border-radius:none;
    }
    .box_part .container .box_part_text{
        width:100%;
        margin:0 auto;
    }
    .box_part .container .box_part_text p{
        text-align: center;
    }
}
@media only screen and (min-width:576px) and (max-width:991px)
{
    .box_part .container .box_part_text{
        width:85%;
    }
}
.box_part .container .box_part_text h1{
    color:white;
}
.box_part .container .box_part_text p{
    color:white;
}
.box_part .container .numbers{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    width:70%;
    margin:0 auto;
}
@media (max-width:720px)
{
    .box_part .container .numbers{
        width:300px;
    }
    .box_part .container .box_part_text p{
        
    }
}
.box_part .container .numbers li{
    display:inline-block;
    display: flex;
    justify-content: center;
}
.box_part .container .numbers li a{
    display:block;
    color:white;
    font-weight: bold;
    background:rgba(0,0,0,.15);
    font-size:20px;
    width:72px;
    height:72px;
    line-height:72px;
    border-radius: 50%;
    transition: .25s all ease-in;
}
@media (max-width:726px)
{
    .box_part .container  .numbers li a{
        width:50px;
        height:50px;
        line-height: 50px;

    }
    .box_part .container{
        border-radius: 0 !important;
    }
}
.box_part .container .numbers li a:hover{
    background:rgba(256,256,256,1);
    box-shadow: 0 0.5rem 1rem rgba(256,256,256,.25);
    color:#202020 !important;
}

.box_part .container i{
    margin:25px;
    color:white;
    font-size:50px;
    text-shadow:0 0 5px rgba(256,256,256,.55);
}
#custom-navigation .owl-prev,#custom-navigation .owl-next{
    text-align: center;
    display:inline-block;
    font-size:31px;
    width:31px;
    height:31px;
    line-height: 31px;
    border-radius: 50%;
    color:white;
    background:rgba(256,256,256,.25);
    margin:0 10px;
    box-shadow: 0 .25rem 1rem #bb56568a;
    transition:.15s all;
}
.numbers .active a{
    background:rgba(256,256,256,1) !important;
    box-shadow: 0 0.5rem 1rem rgba(256,256,256,.25);
    color:#202020 !important;
}
/* Services part */
.services_part .container-fluid{
    position: relative;
    margin-left:3rem;
}

.services_part .container-fluid i{
    font-size:100px;
    z-index:-3;
    position: absolute;
    color:#bb5656;
    opacity: .15;
    top: 0;left: 2%;
}

@media (max-width:720px)
{
    .services_part .container-fluid{
        margin-left: 1rem;
    }

    .services_part .container-fluid h1{
        font-size:2rem;
    }
    .services_part .container-fluid i{
        font-size:80px;
        left:5%;
    }
}

/* Inquire part */
.inquire_part{
    margin:50px 0;
}
.inquire_part .container{
    min-height: 35vh;
    background:#bb5656;
    border-radius: 10px;
    text-align: center;
    padding-top:45px;
}
.inquire_part .container h2{
    font-weight: 300;
    color:white;
}
.inquire_part .container span{
    font-weight: 500;
}
.c_button{
    display:inline-block;
    margin-top:1.5rem;
    background:white;
    padding:10px 45px;
    color:#bb5656;
    font-weight: 500;
    box-shadow:0 .5rem 1rem #bb5656;
    border-radius:3px;
}
.c_button:hover{
    box-shadow:0 .5 1.5rem #bb5656;
}
@media (max-width:726px)
{
    .inquire_part .container{
        border-radius: 0 !important;
    }
}
/* Caurosel item */
.carousel_part{
    margin:30px 0;
}
.carousel_item{
    padding:45px 30px;
    margin:10px;
    box-shadow: -1px 13px 20px #f0f2f4 !important;
}
.client_info h3{
    font-size:22px;
}
.client_info p{
    font-size: 14px;
}
.owl-item{
    margin:0 0 20px 0;
}
.multiple .owl-nav{
    margin-left:2rem;
}

.owl-prev span,.owl-next span {
    text-align: center;
    display:inline-block;
    font-size:2.5rem;
    width:3rem;
    height:3rem;
    line-height: 3rem;
    border-radius: 50%;
    color:white;
    background:#bb5656;
    margin:0 10px;
    box-shadow: 0 .25rem 1rem #bb56568a;
    transition:.15s all;
}
@media (max-width:720px)
{
    .owl-nav{
        margin-left: 0;
    }
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-next span:hover{
   color:#bb5656;
   background:#fff;
   box-shadow: 0 .5rem .7rem rgba(0, 0, 0, 0.15);
}
.owl-prev span:hover{
   color:#bb5656;
   background:#fff;
   box-shadow: 0 .5rem .7rem rgba(0, 0, 0, 0.15);
}

/* Modal */
.centered{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.background-primary{
    background:#b85858;
}
.background-white{
    background:white;
}
.custom-modal-1{
    color:white;
    font-family: Circular Std;
}
.custom-modal-1 .modal-body{
    padding:1rem 5rem 5rem 5rem;
    font-size:1rem;
}
@media (max-width:720px)
{
    .custom-modal-1 .modal-body{
        padding:1rem 1rem 3rem 1rem;
    }
}
.custom-modal-1 .modal-header{
    border:none;
}
.custom-modal-1 .modal-header button{
    color:white;
    box-shadow: none;
    text-shadow: none;
}
.custom-modal-1 .modal-body input{
    background:#f07171;
    border:none;
    color:white;
    border-radius:3px;
    caret-color: #fff;
    margin-bottom: 1rem;
}
.custom-modal-1 .modal-body textarea{
    background:#f07171;
    border:none;
    color:white;
    border-radius:3px;
    caret-color: #fff;
}
.custom-modal-1 .modal-body textarea:focus{
    background: #e26868;
    color:white;
    border:none;
    outline:none;
    box-shadow: none;
}
.custom-modal-1 .modal-body input:focus{
    background: #e26868;
    color:white;
    border:none;
    outline:none;
    box-shadow: none;
}
.custom-modal-1 .modal-body .btn{
    background:white;
    color:#bb5656;
    border-radius:3px;
    border:none;
    padding-left:40px;
    padding-right:40px;
}
.custom-modal-2 .modal-body .row{
    margin:2rem 0;
}
.custom-modal-2 .modal-header{
    border:none;
}
.custom-modal-2 .modal-body{
    margin-bottom: 2rem;
}
.background-grey{
    background:#eee;
    width:100%;
    height: 25vh;
}
@media (max-width:720px)
{
    .centered{
        top:70vh;
    }
    .background-grey{
        height:20vh;
        margin:5px;
    }
}
.ml{
    margin-left:1.2rem;
}